<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>news feather</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>

  <style>
  @import url(http://fonts.googleapis.com/css?family=Roboto:400,500,900,700);

  body {
    font-family: 'Roboto', sans-serif;
  }

  #valve_block {
    margin: 0 auto;
    width: 800px;
  }
  </style>

  <body>

    <h2>{{ title }}</h2>

    <p>
      Welcome to the news feather. We are an aggregator site for the news of, well, everything! Currently we are under development and only have news from the main Valve games.
    </p>

  {% block content %}
    <div class="row">
    {% for e in entries %}
        <div class="col-md-4 col-lg-3">
            <h2><a href="{{ e.link }}">{{ e.title }}</a></h2>
            <h5>published on: {{ e.published }}</h5>
        </div>
    {% endfor %}
    </div>
  {% endblock %}

  </body>
</html>
