<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Game Feather</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>

  <style>
  @import url(http://fonts.googleapis.com/css?family=Roboto:400,500,900,700);

  body {
    font-family: 'Roboto', sans-serif;
  }

  #valve_block {
    margin: 0 auto;
    width: 800px;
  }
  </style>

  <body>

    <h2>news feather - all</h2>

    <ul>
      <li><a href="/">all</a></li>
      <li><a href="/valve">valve</a></li>
    </ul>

    <p>
      Welcome to the news feather. We are an aggregator site for the news of, well, everything! Currently we are under development and only have news from the main Valve games.
    </p>

  </body>
</html>
